.new{
    background-color:rgb(226, 254, 254);
    display: flex;
    align-items: center;
    justify-content: center;
}

.no{
    margin: 20px 0;
    text-align: center;
}

.no a{
    margin: 0 15px;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    
}
